.rowC{
    display:flex;
    flex-direction:row;
}
.VideoCluster{
    background-color: #ffffff;
    margin: 2% 1%;
    min-width: 45%;
    align: center;
    border-radius: 25px;
    overflow-y: scroll;
    height: 700px;

}
.other{
    background-color: #ffffff;
    margin: 2% 1%;
    min-width: 17%;
    border-radius: 25px;
    position: sticky;
    overflow-y: scroll;
    height: 700px;

}
.Comments{
    background-color: #ffffff;
    margin: 2% 1%;
    min-width: 30%;
    border-radius: 25px;
    overflow-y: scroll;
    height: 700px;
}

