.rowC{
    display:flex;
    flex-direction:row;
}
.knowb{
    background-color: #ffffff;
    margin: 2% 1%;
    min-width: 50%;
    align: center;
    min-height: 60%;
    border-radius: 25px;
    overflow-y: scroll;
    height: 700px;

}
.other{
    background-color: #ffffff;
    margin: 2% 1%;
    min-width: 15%;
    border-radius: 25px;
    overflow-y: scroll;
    height: 700px;
}
.search{
    background-color: #ffffff;
    margin: 2% 1%;
    min-width: 28%;
    border-radius: 25px;
    overflow-y: scroll;
    height: 700px;

}
.div3{
    display:flex;
    flex-direction:row;

}
.div1{
    display:flex;
    flex-direction:row;

}
.div2{
    display:flex;
    flex-direction:row;

}
